KY16 pr måned. antal personer område. Alle ydelsestyper. fra og med 2007 til dato
Kontanthjælp (personer og beløb) efter område, enhed og ydelsestype (2007M01-2023M03)  
KONT1X: Kontanthjælpsmodtagere (månedlig, personer) efter område og ydelsesart (AFSLUTTET) 1994-2006
Se også kontanthjælp.py

In [164]:
import pandas as pd   

# Retrieving data

KY034 = "https://api.statbank.dk/v1/data/KY034/CSV?valuePresentation=CodeAndValue&TAL=1%2C2&OMR%C3%85DE=*&Tid=*"
    
KONT1X = "https://api.statbank.dk/v1/data/KONT1X/CSV?valuePresentation=CodeAndValue&OMR%C3%85DE=*&YDELSESART=TOT&Tid=*"

KY034_data = pd.read_csv(KY034, sep = ";")
KONT1X_data = pd.read_csv(KONT1X, sep = ";")

In [165]:
def clean_ds_data(df):
    df['muni_code'] = df['OMRÅDE'].str.extract(r'(\d{3})')   # extracting municipality code
    df['muni_name'] = df['OMRÅDE'].str.extract(r'(\d{3}\s+(.*))')[1] # extracting municipalit name
    df['year'] = df['TID'].str.split().str[0]
    df = df\
        .drop(columns=["OMRÅDE", 'TID'])
    return df

In [166]:
# cleaning KONT1X data. Only looking at data for january. Remember to remove november!
KONT1X_data = clean_ds_data(KONT1X_data)
KONT1X_data = KONT1X_data[KONT1X_data['year'].str.endswith('01')].copy()
KONT1X_data['year'] = KONT1X_data['year'].str.replace('M01', "")

In [167]:
# Reshaping kont1x data


KONT1X_data = KONT1X_data.pivot(index=["muni_code", "year"], columns = "YDELSESART", values = "INDHOLD")
KONT1X_data.name = None
KONT1X_data = KONT1X_data.reset_index()

In [168]:
# reshaping KY034 data

KY034_data = KY034_data.pivot(index=["OMRÅDE", "TID"], columns = "TAL", values = "INDHOLD").reset_index()
KY034_data = clean_ds_data(KY034_data)

In [169]:
# selecting and renaming columns.
KY034_data = KY034_data[["muni_code", "year", "1 Berørte personer (antal)"]].rename(columns={"1 Berørte personer (antal)":"kont_recip_tot"})
KONT1X_data = KONT1X_data[["muni_code", "year", "TOT Modtagere af kontanthjælp mv. i alt"]].rename(columns = {"TOT Modtagere af kontanthjælp mv. i alt":"kont_recip_tot"})

In [170]:
# coercing muni_code and year to integers
KY034_data['muni_code'] = KY034_data['muni_code'].astype('Int64')
KONT1X_data['muni_code'] = KONT1X_data['muni_code'].astype('Int64')

KY034_data['year'] = KY034_data['year'].astype('Int64')
KONT1X_data['year'] = KONT1X_data['year'].astype('Int64')

In [171]:
# KY034_data originally contains data on "landsdele". They appear as NaN in our data. Get rid of those!
KY034_data = KY034_data.dropna(subset=['muni_code']).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1696 entries, 0 to 1871
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   muni_code       1696 non-null   Int64
 1   year            1696 non-null   Int64
 2   kont_recip_tot  1696 non-null   int64
dtypes: Int64(2), int64(1)
memory usage: 56.3 KB

In [172]:
total = pd.concat([KY034_data, KONT1X_data]).sort_values(["muni_code", "year"])

In [173]:
total.to_csv("kontanth.csv")