Henter oplysninger på sammenlagte kommuner fra wikipedia

In [7]:
import pandas as pd

# henter tabeller på wikipedia
df = pd.read_html('https://da.wikipedia.org/wiki/Strukturreformen')

                                          Lovgivende
0  Folketing (parlament) Formand: Søren Gade Medl...

In [19]:
# trækker de fem relevante tabeller ud

reg_syd = df[16]
reg_sjæl = df[15]
reg_nordj = df[14]
reg_midtj = df[13]
reg_h = df[12]

  Kommunerne fordelt efter indbyggertal                                  \
                           Indbyggertal  Antal kommuner
                           Indbyggertal før1. april1970 fra1. april1974
0                             150.000 -           1.000               4
1                     100.000 - 150.000           3.000               1
2                      40.000 - 100.000          10.000              18
3                       20.000 - 40.000          22.000              25
4                       15.000 - 20.000          13.000              24
5                       10.000 - 15.000          22.000              41
6                        3.000 - 10.000         206.000             160
7                             0 - 3.000         821.000               2
8                                 I alt           1.098             275



  fra1. januar2007
0                4
1                2
2               50
3               35
4                0
5                3
6                3
7                1
8               98

In [45]:
#fjerner multi index, og merger til en 
reg_syd.columns = range(len(reg_syd.columns))
reg_sjæl.columns = range(len(reg_syd.columns))
reg_nordj.columns = range(len(reg_syd.columns))
reg_midtj.columns = range(len(reg_syd.columns))
reg_h.columns = range(len(reg_syd.columns))
kolonne_navne = ["Ny kommune", "Tidligere", "Bemærkninger"]
samlet = pd.concat([reg_syd, reg_h, reg_nordj, reg_midtj, reg_sjæl],ignore_index=True)
samlet.columns = kolonne_navne

,Ny kommune,Tidligere,Bemærkninger
0,Assens,"Assens, Glamsbjerg, Haarby, Tommerup, Vissenbj...",NaN
1,Billund,"Billund, Grindsted",Opmand Thorkild Simonsen foreslog den 21. apri...
2,Esbjerg,"Bramming, Esbjerg, Ribe",Store partner i en øsamarbejdsaftale med Fanø....
3,Fanø,Fanø,"Øsamarbejdsaftale med Esbjerg, efter at 65% af..."
4,Fredericia,Fredericia,NaN
...,...,...,...
93,Slagelse,"Hashøj, Korsør, Skælskør, Slagelse",NaN
94,Solrød,Solrød,NaN
95,Sorø,"Dianalund, Sorø, Stenlille",NaN
96,Stevns,"Vallø, Stevns",NaN
97,Vordingborg,"Langebæk, Møn, Præstø, Vordingborg",NaN