Retrieving area of municipalities

In [32]:
import pandas as pd
from pathlib import Path

Retrievin the table from Wikipedia

In [33]:
url = "https://da.wikipedia.org/wiki/Kommuner_i_Danmark_efter_indbyggertal"
areas = pd.read_html(url)
areas = areas[0][["Navn", "km2"]]\
    .copy()\
    .rename(columns = {"Navn": "muni_name"})

    muni_name     km2
0   København    8660
1      Aarhus   46790
2     Aalborg  113740
3      Odense   30560
4       Vejle  105840
..        ...     ...
93  Langeland   28920
94        Ærø    9010
95      Samsø   11360
96       Fanø    5760
97       Læsø   12050

[98 rows x 2 columns]

Reading the concordanse

In [34]:
fp = Path("../")
filer = list(fp.glob("*"))
concordanse = fp/"nye_og_gamle_kommuner.csv"
concordanse = pd.read_csv(concordanse)

Deduplicating concordanse, merging with areas and saving to csv

In [35]:
concordanse = concordanse[['muni_name', "muni_code"]]\
    .drop_duplicates()\
    .copy()


areas\
    .merge(concordanse, on = "muni_name", how = "left")\
    .to_csv("muni_areas.csv")