Retrieving area of municipalities

In [41]:
import pandas as pd
from pathlib import Path
import requests

Retrievin the table from Wikipedia

In [52]:
url = "https://da.wikipedia.org/wiki/Kommuner_i_Danmark_efter_indbyggertal"

#read_html strips , as decimal separator. This fixes that
response = requests.get(url)
html_text = response.text.replace(',', '.')

df_list = pd.read_html(html_text)

areas = df_list[0][["Navn", "km2"]]\
    .copy()\
    .rename(columns = {"Navn": "muni_name"})
areas

    muni_name     km2
0   København    86.6
1      Aarhus   467.9
2     Aalborg  1137.4
3      Odense   305.6
4       Vejle  1058.4
..        ...     ...
93  Langeland   289.2
94        Ærø    90.1
95      Samsø   113.6
96       Fanø    57.6
97       Læsø   120.5

[98 rows x 2 columns]

Reading the concordanse

In [53]:
fp = Path("../")
filer = list(fp.glob("*"))
concordanse = fp/"nye_og_gamle_kommuner.csv"
concordanse = pd.read_csv(concordanse)

Deduplicating concordanse, merging with areas and saving to csv

In [54]:
concordanse = concordanse[['muni_name', "muni_code"]]\
    .drop_duplicates()\
    .copy()


areas = areas\
    .merge(concordanse, on = "muni_name", how = "left")

areas["muni_code"] = areas["muni_code"].astype("Int64")
areas\
     .to_csv("muni_areas.csv")