In [2]:
import pandas as pd

In [9]:
pd.read_csv("fitted_models_ridge.csv").query("muni_code == 101").head(50)

,Unnamed: 0,muni_code,pickled_model,rmse,r2,Parameter,Value,value,parameter,Train,Test,sample size
0,0,101,b'\x80\x04\x95\xcd%\x00\x00\x00\x00\x00\x00\x8...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,101,NaN,1389.307615,0.984763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,101,NaN,NaN,NaN,classifier__alpha,12.328467,NaN,NaN,NaN,NaN,NaN
3,3,101,NaN,NaN,NaN,classifier__max_iter,2000.000000,NaN,NaN,NaN,NaN,NaN
4,4,101,NaN,NaN,NaN,preprocessor__num__poly__degree,2.000000,NaN,NaN,NaN,NaN,NaN
5,5,101,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1,NaN,NaN,NaN
6,6,101,NaN,NaN,NaN,NaN,NaN,8.229908e-05,erhvervsindkomst,NaN,NaN,NaN
7,7,101,NaN,NaN,NaN,NaN,NaN,1.327182e-04,formueindkomst,NaN,NaN,NaN
8,8,101,NaN,NaN,NaN,NaN,NaN,9.204133e-05,anden_personlig_indkomst,NaN,NaN,NaN
9,9,101,NaN,NaN,NaN,NaN,NaN,-1.706714e-05,kont_recip_tot,NaN,NaN,NaN
10,10,101,NaN,NaN,NaN,NaN,NaN,6.071568e-05,gini_index,NaN,NaN,NaN
11,11,101,NaN,NaN,NaN,NaN,NaN,7.015979e-28,km2,NaN,NaN,NaN
12,12,101,NaN,NaN,NaN,NaN,NaN,2.395107e-05,unemployed,NaN,NaN,NaN
13,13,101,NaN,NaN,NaN,NaN,NaN,-8.610298e-05,pop,NaN,NaN,NaN
14,14,101,NaN,NaN,NaN,NaN,NaN,-8.610298e-05,pop_den,NaN,NaN,NaN
15,15,101,NaN,NaN,NaN,NaN,NaN,-7.131781e-03,erhvervsindkomst^2,NaN,NaN,NaN
16,16,101,NaN,NaN,NaN,NaN,NaN,-1.833901e-02,erhvervsindkomst formueindkomst,NaN,NaN,NaN
17,17,101,NaN,NaN,NaN,NaN,NaN,-5.157495e-03,erhvervsindkomst anden_personlig_indkomst,NaN,NaN,NaN
18,18,101,NaN,NaN,NaN,NaN,NaN,-2.043384e-03,erhvervsindkomst kont_recip_tot,NaN,NaN,NaN
19,19,101,NaN,NaN,NaN,NaN,NaN,-3.385052e-03,erhvervsindkomst gini_index,NaN,NaN,NaN
20,20,101,NaN,NaN,NaN,NaN,NaN,7.127100e-03,erhvervsindkomst km2,NaN,NaN,NaN
21,21,101,NaN,NaN,NaN,NaN,NaN,4.762765e-03,erhvervsindkomst unemployed,NaN,NaN,NaN
22,22,101,NaN,NaN,NaN,NaN,NaN,3.601682e-03,erhvervsindkomst pop,NaN,NaN,NaN
23,23,101,NaN,NaN,NaN,NaN,NaN,3.601682e-03,erhvervsindkomst pop_den,NaN,NaN,NaN
24,24,101,NaN,NaN,NaN,NaN,NaN,-4.320002e-02,formueindkomst^2,NaN,NaN,NaN
25,25,101,NaN,NaN,NaN,NaN,NaN,-1.621650e-03,formueindkomst anden_personlig_indkomst,NaN,NaN,NaN
26,26,101,NaN,NaN,NaN,NaN,NaN,3.334412e-02,formueindkomst kont_recip_tot,NaN,NaN,NaN
27,27,101,NaN,NaN,NaN,NaN,NaN,-6.202700e-03,formueindkomst gini_index,NaN,NaN,NaN
28,28,101,NaN,NaN,NaN,NaN,NaN,1.149340e-02,formueindkomst km2,NaN,NaN,NaN
29,29,101,NaN,NaN,NaN,NaN,NaN,5.259052e-03,formueindkomst unemployed,NaN,NaN,NaN
30,30,101,NaN,NaN,NaN,NaN,NaN,-2.076380e-02,formueindkomst pop,NaN,NaN,NaN
31,31,101,NaN,NaN,NaN,NaN,NaN,-2.076380e-02,formueindkomst pop_den,NaN,NaN,NaN
32,32,101,NaN,NaN,NaN,NaN,NaN,-5.725572e-03,anden_personlig_indkomst^2,NaN,NaN,NaN
33,33,101,NaN,NaN,NaN,NaN,NaN,-1.508285e-02,anden_personlig_indkomst kont_recip_tot,NaN,NaN,NaN
34,34,101,NaN,NaN,NaN,NaN,NaN,-5.311108e-03,anden_personlig_indkomst gini_index,NaN,NaN,NaN
35,35,101,NaN,NaN,NaN,NaN,NaN,7.970779e-03,anden_personlig_indkomst km2,NaN,NaN,NaN
36,36,101,NaN,NaN,NaN,NaN,NaN,1.003354e-02,anden_personlig_indkomst unemployed,NaN,NaN,NaN
37,37,101,NaN,NaN,NaN,NaN,NaN,-2.080182e-02,anden_personlig_indkomst pop,NaN,NaN,NaN
38,38,101,NaN,NaN,NaN,NaN,NaN,-2.080182e-02,anden_personlig_indkomst pop_den,NaN,NaN,NaN
39,39,101,NaN,NaN,NaN,NaN,NaN,4.056615e-03,kont_recip_tot^2,NaN,NaN,NaN
40,40,101,NaN,NaN,NaN,NaN,NaN,-1.362445e-02,kont_recip_tot gini_index,NaN,NaN,NaN
41,41,101,NaN,NaN,NaN,NaN,NaN,-1.478014e-03,kont_recip_tot km2,NaN,NaN,NaN
42,42,101,NaN,NaN,NaN,NaN,NaN,1.756284e-02,kont_recip_tot unemployed,NaN,NaN,NaN
43,43,101,NaN,NaN,NaN,NaN,NaN,3.264147e-03,kont_recip_tot pop,NaN,NaN,NaN
44,44,101,NaN,NaN,NaN,NaN,NaN,3.264147e-03,kont_recip_tot pop_den,NaN,NaN,NaN
45,45,101,NaN,NaN,NaN,NaN,NaN,-9.584806e-04,gini_index^2,NaN,NaN,NaN
46,46,101,NaN,NaN,NaN,NaN,NaN,5.257978e-03,gini_index km2,NaN,NaN,NaN
47,47,101,NaN,NaN,NaN,NaN,NaN,4.836992e-03,gini_index unemployed,NaN,NaN,NaN
48,48,101,NaN,NaN,NaN,NaN,NaN,8.733744e-03,gini_index pop,NaN,NaN,NaN
49,49,101,NaN,NaN,NaN,NaN,NaN,8.733744e-03,gini_index pop_den,NaN,NaN,NaN