In [1]:
from pathlib import Path
import pandas as pd
import time
import os
import tqdm

In [2]:
# Replace 'your_file.csv' with the actual path to your CSV file
input_fp = Path.cwd() / 'tidy_data' # path of files to be found

output_fp = Path.cwd() / 'unique_data' # output path of files generated
# Use the Path object to actually create the subfolder
Path.mkdir(output_fp, exist_ok=True)

Not working:

def find_matching_rows(df):
    #find every sale with same date_of_sale, purchase_amount, zip_code, and housing_type
    grouped = df.groupby(['date_of_sale', 'purchase_amount', 'zip_code', 'housing_type'])
    matching_indices = []

    #for 'Ejerlejlighed' the 'address' should start with the same three letters, i.e., be on the same street
    for _, group in grouped:
        if len(group) > 1:
            if group['housing_type'].iloc[0] == 'Ejerlejlighed':
                address_prefix = group['address'].str[:3]
                if address_prefix.nunique() == 1:
                    matching_indices.extend(group.index.tolist())
            #for other sales we accept different addresses, as some double sales take place around corners
            else:
                matching_indices.extend(group.index.tolist())

    return matching_indices

In [3]:
def find_matching_rows(df):
    grouped = df.groupby(['date_of_sale', 'purchase_amount', 'zip_code'])
    matching_indices = []

    for _, group in grouped:
        if len(group) > 1:
            matching_indices.extend(group.index.tolist())

    return matching_indices

In [4]:
start_time = time.time()

# Iterate through log files in the folder
for filename in sorted(os.listdir(input_fp)): #Alternative: for filename in tqdm.tqdm(sorted(os.listdir(input_fp))):
    if filename.startswith('tidy_sales_1992_2022_') and filename.endswith('.csv'):
        df = pd.read_csv(input_fp/filename, low_memory=False) # read the CSV file into a DataFrame
        #print(df.shape)
        matching_indices = find_matching_rows(df)
        matching_df = df[df.index.isin(matching_indices)]
        unique_matching_indices = list(set(matching_indices))

        # List of index numbers to exclude
        index_numbers_to_exclude = unique_matching_indices
        
        # Create a new DataFrame excluding rows with specified index numbers
        new_df = df[~df.index.isin(index_numbers_to_exclude)]
        
        # Rename and save the new DataFrame to a CSV file without index numbers
        output_filename = filename.replace('tidy_', 'unique_')  # Replace 'tidy_' with 'unique_' in filename
        new_df.to_csv(f'{output_fp}/{output_filename}', index=False)

        print(f'Number of rows in {filename}: {len(df)}')
        print(f'Number of matching rows: {len(matching_df)}')
        print(f'Number of unique rows: {len(new_df)}')
        print()

elapsed_time = time.time() - start_time
print(f'Runtime: {elapsed_time}')

Number of rows in tidy_sales_1992_2022_101.csv: 297624
Number of matching rows: 73051
Number of unique rows: 224573

Number of rows in tidy_sales_1992_2022_147.csv: 56327
Number of matching rows: 11937
Number of unique rows: 44390

Number of rows in tidy_sales_1992_2022_151.csv: 18191
Number of matching rows: 5928
Number of unique rows: 12263

Number of rows in tidy_sales_1992_2022_153.csv: 9457
Number of matching rows: 1785
Number of unique rows: 7672

Number of rows in tidy_sales_1992_2022_155.csv: 8115
Number of matching rows: 640
Number of unique rows: 7475

Number of rows in tidy_sales_1992_2022_157.csv: 56459
Number of matching rows: 12842
Number of unique rows: 43617

Number of rows in tidy_sales_1992_2022_159.csv: 30578
Number of matching rows: 4269
Number of unique rows: 26309

Number of rows in tidy_sales_1992_2022_161.csv: 9207
Number of matching rows: 1365
Number of unique rows: 7842

Number of rows in tidy_sales_1992_2022_163.csv: 7311
Number of matching rows: 457
Number of unique rows: 6854

Number of rows in tidy_sales_1992_2022_165.csv: 7613
Number of matching rows: 287
Number of unique rows: 7326

Number of rows in tidy_sales_1992_2022_167.csv: 19979
Number of matching rows: 1720
Number of unique rows: 18259

Number of rows in tidy_sales_1992_2022_169.csv: 28437
Number of matching rows: 2754
Number of unique rows: 25683

Number of rows in tidy_sales_1992_2022_173.csv: 27690
Number of matching rows: 3053
Number of unique rows: 24637

Number of rows in tidy_sales_1992_2022_175.csv: 18852
Number of matching rows: 3267
Number of unique rows: 15585

Number of rows in tidy_sales_1992_2022_183.csv: 8968
Number of matching rows: 208
Number of unique rows: 8760

Number of rows in tidy_sales_1992_2022_185.csv: 17920
Number of matching rows: 932
Number of unique rows: 16988

Number of rows in tidy_sales_1992_2022_187.csv: 10933
Number of matching rows: 1578
Number of unique rows: 9355

Number of rows in tidy_sales_1992_2022_190.csv: 18055
Number of matching rows: 859
Number of unique rows: 17196

Number of rows in tidy_sales_1992_2022_201.csv: 12332
Number of matching rows: 708
Number of unique rows: 11624

Number of rows in tidy_sales_1992_2022_210.csv: 22542
Number of matching rows: 1342
Number of unique rows: 21200

Number of rows in tidy_sales_1992_2022_217.csv: 36523
Number of matching rows: 5511
Number of unique rows: 31012

Number of rows in tidy_sales_1992_2022_219.csv: 27576
Number of matching rows: 4765
Number of unique rows: 22811

Number of rows in tidy_sales_1992_2022_223.csv: 15326
Number of matching rows: 1551
Number of unique rows: 13775

Number of rows in tidy_sales_1992_2022_230.csv: 32915
Number of matching rows: 2452
Number of unique rows: 30463

Number of rows in tidy_sales_1992_2022_240.csv: 23045
Number of matching rows: 1477
Number of unique rows: 21568

Number of rows in tidy_sales_1992_2022_250.csv: 23577
Number of matching rows: 3250
Number of unique rows: 20327

Number of rows in tidy_sales_1992_2022_253.csv: 25561
Number of matching rows: 3265
Number of unique rows: 22296

Number of rows in tidy_sales_1992_2022_259.csv: 29250
Number of matching rows: 3061
Number of unique rows: 26189

Number of rows in tidy_sales_1992_2022_260.csv: 16817
Number of matching rows: 1995
Number of unique rows: 14822

Number of rows in tidy_sales_1992_2022_265.csv: 47446
Number of matching rows: 7227
Number of unique rows: 40219

Number of rows in tidy_sales_1992_2022_269.csv: 14714
Number of matching rows: 1477
Number of unique rows: 13237

Number of rows in tidy_sales_1992_2022_270.csv: 22753
Number of matching rows: 2998
Number of unique rows: 19755

Number of rows in tidy_sales_1992_2022_306.csv: 20082
Number of matching rows: 3471
Number of unique rows: 16611

Number of rows in tidy_sales_1992_2022_316.csv: 40005
Number of matching rows: 8154
Number of unique rows: 31851

Number of rows in tidy_sales_1992_2022_320.csv: 22207
Number of matching rows: 3651
Number of unique rows: 18556

Number of rows in tidy_sales_1992_2022_326.csv: 29496
Number of matching rows: 4893
Number of unique rows: 24603

Number of rows in tidy_sales_1992_2022_329.csv: 19263
Number of matching rows: 3655
Number of unique rows: 15608

Number of rows in tidy_sales_1992_2022_330.csv: 49930
Number of matching rows: 14592
Number of unique rows: 35338

Number of rows in tidy_sales_1992_2022_336.csv: 14017
Number of matching rows: 1946
Number of unique rows: 12071

Number of rows in tidy_sales_1992_2022_340.csv: 19098
Number of matching rows: 4268
Number of unique rows: 14830

Number of rows in tidy_sales_1992_2022_350.csv: 13663
Number of matching rows: 1197
Number of unique rows: 12466

Number of rows in tidy_sales_1992_2022_360.csv: 30435
Number of matching rows: 4017
Number of unique rows: 26418

Number of rows in tidy_sales_1992_2022_370.csv: 48189
Number of matching rows: 6958
Number of unique rows: 41231

Number of rows in tidy_sales_1992_2022_376.csv: 41517
Number of matching rows: 6476
Number of unique rows: 35041

Number of rows in tidy_sales_1992_2022_390.csv: 31615
Number of matching rows: 6155
Number of unique rows: 25460

Number of rows in tidy_sales_1992_2022_400.csv: 25644
Number of matching rows: 2326
Number of unique rows: 23318

Number of rows in tidy_sales_1992_2022_410.csv: 24561
Number of matching rows: 4873
Number of unique rows: 19688

Number of rows in tidy_sales_1992_2022_420.csv: 25835
Number of matching rows: 4863
Number of unique rows: 20972

Number of rows in tidy_sales_1992_2022_430.csv: 30803
Number of matching rows: 5133
Number of unique rows: 25670

Number of rows in tidy_sales_1992_2022_440.csv: 12541
Number of matching rows: 2616
Number of unique rows: 9925

Number of rows in tidy_sales_1992_2022_450.csv: 18398
Number of matching rows: 3595
Number of unique rows: 14803

Number of rows in tidy_sales_1992_2022_461.csv: 113911
Number of matching rows: 35276
Number of unique rows: 78635

Number of rows in tidy_sales_1992_2022_479.csv: 35586
Number of matching rows: 8199
Number of unique rows: 27387

Number of rows in tidy_sales_1992_2022_480.csv: 17412
Number of matching rows: 2433
Number of unique rows: 14979

Number of rows in tidy_sales_1992_2022_482.csv: 11302
Number of matching rows: 1710
Number of unique rows: 9592

Number of rows in tidy_sales_1992_2022_492.csv: 6389
Number of matching rows: 693
Number of unique rows: 5696

Number of rows in tidy_sales_1992_2022_510.csv: 33784
Number of matching rows: 10417
Number of unique rows: 23367

Number of rows in tidy_sales_1992_2022_530.csv: 15569
Number of matching rows: 2597
Number of unique rows: 12972

Number of rows in tidy_sales_1992_2022_540.csv: 38795
Number of matching rows: 8500
Number of unique rows: 30295

Number of rows in tidy_sales_1992_2022_550.csv: 23490
Number of matching rows: 5260
Number of unique rows: 18230

Number of rows in tidy_sales_1992_2022_561.csv: 64520
Number of matching rows: 14375
Number of unique rows: 50145

Number of rows in tidy_sales_1992_2022_563.csv: 2286
Number of matching rows: 253
Number of unique rows: 2033

Number of rows in tidy_sales_1992_2022_573.csv: 27225
Number of matching rows: 3798
Number of unique rows: 23427

Number of rows in tidy_sales_1992_2022_575.csv: 24550
Number of matching rows: 3957
Number of unique rows: 20593

Number of rows in tidy_sales_1992_2022_580.csv: 33994
Number of matching rows: 7411
Number of unique rows: 26583

Number of rows in tidy_sales_1992_2022_607.csv: 30956
Number of matching rows: 9545
Number of unique rows: 21411

Number of rows in tidy_sales_1992_2022_615.csv: 57306
Number of matching rows: 15595
Number of unique rows: 41711

Number of rows in tidy_sales_1992_2022_621.csv: 55384
Number of matching rows: 14548
Number of unique rows: 40836

Number of rows in tidy_sales_1992_2022_630.csv: 69843
Number of matching rows: 19824
Number of unique rows: 50019

Number of rows in tidy_sales_1992_2022_657.csv: 50205
Number of matching rows: 10990
Number of unique rows: 39215

Number of rows in tidy_sales_1992_2022_661.csv: 34380
Number of matching rows: 5776
Number of unique rows: 28604

Number of rows in tidy_sales_1992_2022_665.csv: 12568
Number of matching rows: 2054
Number of unique rows: 10514

Number of rows in tidy_sales_1992_2022_671.csv: 12693
Number of matching rows: 2332
Number of unique rows: 10361

Number of rows in tidy_sales_1992_2022_706.csv: 25833
Number of matching rows: 3730
Number of unique rows: 22103

Number of rows in tidy_sales_1992_2022_707.csv: 22835
Number of matching rows: 4087
Number of unique rows: 18748

Number of rows in tidy_sales_1992_2022_710.csv: 27025
Number of matching rows: 3220
Number of unique rows: 23805

Number of rows in tidy_sales_1992_2022_727.csv: 13506
Number of matching rows: 2011
Number of unique rows: 11495

Number of rows in tidy_sales_1992_2022_730.csv: 64035
Number of matching rows: 15067
Number of unique rows: 48968

Number of rows in tidy_sales_1992_2022_740.csv: 51936
Number of matching rows: 10269
Number of unique rows: 41667

Number of rows in tidy_sales_1992_2022_741.csv: 4333
Number of matching rows: 802
Number of unique rows: 3531

Number of rows in tidy_sales_1992_2022_746.csv: 35112
Number of matching rows: 4060
Number of unique rows: 31052

Number of rows in tidy_sales_1992_2022_751.csv: 193113
Number of matching rows: 51587
Number of unique rows: 141526

Number of rows in tidy_sales_1992_2022_756.csv: 25118
Number of matching rows: 4746
Number of unique rows: 20372

Number of rows in tidy_sales_1992_2022_760.csv: 32556
Number of matching rows: 4448
Number of unique rows: 28108

Number of rows in tidy_sales_1992_2022_766.csv: 29934
Number of matching rows: 4201
Number of unique rows: 25733

Number of rows in tidy_sales_1992_2022_773.csv: 13567
Number of matching rows: 2299
Number of unique rows: 11268

Number of rows in tidy_sales_1992_2022_779.csv: 26152
Number of matching rows: 5617
Number of unique rows: 20535

Number of rows in tidy_sales_1992_2022_787.csv: 28038
Number of matching rows: 4408
Number of unique rows: 23630

Number of rows in tidy_sales_1992_2022_791.csv: 55286
Number of matching rows: 10590
Number of unique rows: 44696

Number of rows in tidy_sales_1992_2022_810.csv: 22423
Number of matching rows: 4866
Number of unique rows: 17557

Number of rows in tidy_sales_1992_2022_813.csv: 37590
Number of matching rows: 7554
Number of unique rows: 30036

Number of rows in tidy_sales_1992_2022_820.csv: 23307
Number of matching rows: 5234
Number of unique rows: 18073

Number of rows in tidy_sales_1992_2022_825.csv: 1722
Number of matching rows: 235
Number of unique rows: 1487

Number of rows in tidy_sales_1992_2022_840.csv: 17164
Number of matching rows: 1973
Number of unique rows: 15191

Number of rows in tidy_sales_1992_2022_846.csv: 27197
Number of matching rows: 6770
Number of unique rows: 20427

Number of rows in tidy_sales_1992_2022_849.csv: 25821
Number of matching rows: 3776
Number of unique rows: 22045

Number of rows in tidy_sales_1992_2022_851.csv: 131115
Number of matching rows: 34724
Number of unique rows: 96391

Number of rows in tidy_sales_1992_2022_860.csv: 41978
Number of matching rows: 9040
Number of unique rows: 32938

Runtime: 55.41019916534424