In [1]:
from pathlib import Path
import pandas as pd
import time
import os
import tqdm

In [2]:
# Replace 'your_file.csv' with the actual path to your CSV file
input_fp = Path.cwd() / 'tidy_data' # path of files to be found

output_fp = Path.cwd() / 'unique_data' # output path of files generated
# Use the Path object to actually create the subfolder
Path.mkdir(output_fp, exist_ok=True)

In [3]:
def find_matching_rows(df):
    grouped = df.groupby(['date_of_sale', 'purchase_amount', 'zip_code', 'housing_type'])
    matching_indices = []

    for _, group in grouped:
        if len(group) > 1:
            if group['housing_type'].iloc[0] == 'Ejerlejlighed':
                address_prefix = group['address'].str[:3]
                if address_prefix.nunique() == 1:
                    matching_indices.extend(group.index.tolist())
            else:
                matching_indices.extend(group.index.tolist())

    return matching_indices

In [4]:
start_time = time.time()

# Iterate through log files in the folder
for filename in sorted(os.listdir(input_fp)): #Alterntive: for filename in tqdm.tqdm(sorted(os.listdir(input_fp))):
    if filename.startswith('tidy_sales_1992_2022_') and filename.endswith('.csv'):
        df = pd.read_csv(input_fp/filename, low_memory=False) # read the CSV file into a DataFrame
        #print(df.shape)
        matching_indices = find_matching_rows(df)
        matching_df = df[df.index.isin(matching_indices)]
        unique_matching_indices = list(set(matching_indices))

        # List of index numbers to exclude
        index_numbers_to_exclude = unique_matching_indices
        
        # Create a new DataFrame excluding rows with specified index numbers
        new_df = df[~df.index.isin(index_numbers_to_exclude)]
        
        # Rename and save the new DataFrame to a CSV file without index numbers
        output_filename = filename.replace('tidy_', 'unique_')  # Replace 'tidy_' with 'unique_' in filename
        new_df.to_csv(f'{output_fp}/{output_filename}', index=False)

        print(f'Number of rows in {filename}: {len(df)}')
        print(f'Number of matching rows: {len(matching_df)}')
        print(f'Number of unique rows: {len(new_df)}')
        print()

elapsed_time = time.time() - start_time
print(f'Runtime: {elapsed_time}')

Number of rows in tidy_sales_1992_2022_101.csv: 297624
Number of matching rows: 57596
Number of unique rows: 240028

Number of rows in tidy_sales_1992_2022_147.csv: 56327
Number of matching rows: 10666
Number of unique rows: 45661

Number of rows in tidy_sales_1992_2022_151.csv: 18191
Number of matching rows: 5011
Number of unique rows: 13180

Number of rows in tidy_sales_1992_2022_153.csv: 9457
Number of matching rows: 1751
Number of unique rows: 7706

Number of rows in tidy_sales_1992_2022_155.csv: 8115
Number of matching rows: 536
Number of unique rows: 7579

Number of rows in tidy_sales_1992_2022_157.csv: 56459
Number of matching rows: 10803
Number of unique rows: 45656

Number of rows in tidy_sales_1992_2022_159.csv: 30578
Number of matching rows: 3960
Number of unique rows: 26618

Number of rows in tidy_sales_1992_2022_161.csv: 9207
Number of matching rows: 1129
Number of unique rows: 8078

Number of rows in tidy_sales_1992_2022_163.csv: 7311
Number of matching rows: 439
Number of unique rows: 6872

Number of rows in tidy_sales_1992_2022_165.csv: 7613
Number of matching rows: 277
Number of unique rows: 7336

Number of rows in tidy_sales_1992_2022_167.csv: 19979
Number of matching rows: 1614
Number of unique rows: 18365

Number of rows in tidy_sales_1992_2022_169.csv: 28437
Number of matching rows: 2256
Number of unique rows: 26181

Number of rows in tidy_sales_1992_2022_173.csv: 27690
Number of matching rows: 2729
Number of unique rows: 24961

Number of rows in tidy_sales_1992_2022_175.csv: 18852
Number of matching rows: 2402
Number of unique rows: 16450

Number of rows in tidy_sales_1992_2022_183.csv: 8968
Number of matching rows: 194
Number of unique rows: 8774

Number of rows in tidy_sales_1992_2022_185.csv: 17920
Number of matching rows: 772
Number of unique rows: 17148

Number of rows in tidy_sales_1992_2022_187.csv: 10933
Number of matching rows: 1244
Number of unique rows: 9689

Number of rows in tidy_sales_1992_2022_190.csv: 18055
Number of matching rows: 815
Number of unique rows: 17240

Number of rows in tidy_sales_1992_2022_201.csv: 12332
Number of matching rows: 632
Number of unique rows: 11700

Number of rows in tidy_sales_1992_2022_210.csv: 22542
Number of matching rows: 1164
Number of unique rows: 21378

Number of rows in tidy_sales_1992_2022_217.csv: 36523
Number of matching rows: 5055
Number of unique rows: 31468

Number of rows in tidy_sales_1992_2022_219.csv: 27576
Number of matching rows: 3933
Number of unique rows: 23643

Number of rows in tidy_sales_1992_2022_223.csv: 15326
Number of matching rows: 1409
Number of unique rows: 13917

Number of rows in tidy_sales_1992_2022_230.csv: 32915
Number of matching rows: 2174
Number of unique rows: 30741

Number of rows in tidy_sales_1992_2022_240.csv: 23045
Number of matching rows: 1385
Number of unique rows: 21660

Number of rows in tidy_sales_1992_2022_250.csv: 23577
Number of matching rows: 2882
Number of unique rows: 20695

Number of rows in tidy_sales_1992_2022_253.csv: 25561
Number of matching rows: 3226
Number of unique rows: 22335

Number of rows in tidy_sales_1992_2022_259.csv: 29250
Number of matching rows: 2901
Number of unique rows: 26349

Number of rows in tidy_sales_1992_2022_260.csv: 16817
Number of matching rows: 1707
Number of unique rows: 15110

Number of rows in tidy_sales_1992_2022_265.csv: 47446
Number of matching rows: 6399
Number of unique rows: 41047

Number of rows in tidy_sales_1992_2022_269.csv: 14714
Number of matching rows: 1415
Number of unique rows: 13299

Number of rows in tidy_sales_1992_2022_270.csv: 22753
Number of matching rows: 2808
Number of unique rows: 19945

Number of rows in tidy_sales_1992_2022_306.csv: 20082
Number of matching rows: 3286
Number of unique rows: 16796

Number of rows in tidy_sales_1992_2022_316.csv: 40005
Number of matching rows: 7634
Number of unique rows: 32371

Number of rows in tidy_sales_1992_2022_320.csv: 22207
Number of matching rows: 3225
Number of unique rows: 18982

Number of rows in tidy_sales_1992_2022_326.csv: 29496
Number of matching rows: 4480
Number of unique rows: 25016

Number of rows in tidy_sales_1992_2022_329.csv: 19263
Number of matching rows: 3323
Number of unique rows: 15940

Number of rows in tidy_sales_1992_2022_330.csv: 49930
Number of matching rows: 12175
Number of unique rows: 37755

Number of rows in tidy_sales_1992_2022_336.csv: 14017
Number of matching rows: 1847
Number of unique rows: 12170

Number of rows in tidy_sales_1992_2022_340.csv: 19098
Number of matching rows: 3943
Number of unique rows: 15155

Number of rows in tidy_sales_1992_2022_350.csv: 13663
Number of matching rows: 1157
Number of unique rows: 12506

Number of rows in tidy_sales_1992_2022_360.csv: 30435
Number of matching rows: 3731
Number of unique rows: 26704

Number of rows in tidy_sales_1992_2022_370.csv: 48189
Number of matching rows: 5915
Number of unique rows: 42274

Number of rows in tidy_sales_1992_2022_376.csv: 41517
Number of matching rows: 5737
Number of unique rows: 35780

Number of rows in tidy_sales_1992_2022_390.csv: 31615
Number of matching rows: 5613
Number of unique rows: 26002

Number of rows in tidy_sales_1992_2022_400.csv: 25644
Number of matching rows: 1920
Number of unique rows: 23724

Number of rows in tidy_sales_1992_2022_410.csv: 24561
Number of matching rows: 4374
Number of unique rows: 20187

Number of rows in tidy_sales_1992_2022_420.csv: 25835
Number of matching rows: 4593
Number of unique rows: 21242

Number of rows in tidy_sales_1992_2022_430.csv: 30803
Number of matching rows: 4871
Number of unique rows: 25932

Number of rows in tidy_sales_1992_2022_440.csv: 12541
Number of matching rows: 2280
Number of unique rows: 10261

Number of rows in tidy_sales_1992_2022_450.csv: 18398
Number of matching rows: 3139
Number of unique rows: 15259

Number of rows in tidy_sales_1992_2022_461.csv: 113911
Number of matching rows: 32694
Number of unique rows: 81217

Number of rows in tidy_sales_1992_2022_479.csv: 35586
Number of matching rows: 7470
Number of unique rows: 28116

Number of rows in tidy_sales_1992_2022_480.csv: 17412
Number of matching rows: 2231
Number of unique rows: 15181

Number of rows in tidy_sales_1992_2022_482.csv: 11302
Number of matching rows: 1626
Number of unique rows: 9676

Number of rows in tidy_sales_1992_2022_492.csv: 6389
Number of matching rows: 626
Number of unique rows: 5763

Number of rows in tidy_sales_1992_2022_510.csv: 33784
Number of matching rows: 9607
Number of unique rows: 24177

Number of rows in tidy_sales_1992_2022_530.csv: 15569
Number of matching rows: 2363
Number of unique rows: 13206

Number of rows in tidy_sales_1992_2022_540.csv: 38795
Number of matching rows: 7792
Number of unique rows: 31003

Number of rows in tidy_sales_1992_2022_550.csv: 23490
Number of matching rows: 4692
Number of unique rows: 18798

Number of rows in tidy_sales_1992_2022_561.csv: 64520
Number of matching rows: 11991
Number of unique rows: 52529

Number of rows in tidy_sales_1992_2022_563.csv: 2286
Number of matching rows: 242
Number of unique rows: 2044

Number of rows in tidy_sales_1992_2022_573.csv: 27225
Number of matching rows: 3338
Number of unique rows: 23887

Number of rows in tidy_sales_1992_2022_575.csv: 24550
Number of matching rows: 3645
Number of unique rows: 20905

Number of rows in tidy_sales_1992_2022_580.csv: 33994
Number of matching rows: 6823
Number of unique rows: 27171

Number of rows in tidy_sales_1992_2022_607.csv: 30956
Number of matching rows: 8045
Number of unique rows: 22911

Number of rows in tidy_sales_1992_2022_615.csv: 57306
Number of matching rows: 13800
Number of unique rows: 43506

Number of rows in tidy_sales_1992_2022_621.csv: 55384
Number of matching rows: 13000
Number of unique rows: 42384

Number of rows in tidy_sales_1992_2022_630.csv: 69843
Number of matching rows: 16895
Number of unique rows: 52948

Number of rows in tidy_sales_1992_2022_657.csv: 50205
Number of matching rows: 10286
Number of unique rows: 39919

Number of rows in tidy_sales_1992_2022_661.csv: 34380
Number of matching rows: 5083
Number of unique rows: 29297

Number of rows in tidy_sales_1992_2022_665.csv: 12568
Number of matching rows: 1793
Number of unique rows: 10775

Number of rows in tidy_sales_1992_2022_671.csv: 12693
Number of matching rows: 2088
Number of unique rows: 10605

Number of rows in tidy_sales_1992_2022_706.csv: 25833
Number of matching rows: 3404
Number of unique rows: 22429

Number of rows in tidy_sales_1992_2022_707.csv: 22835
Number of matching rows: 3501
Number of unique rows: 19334

Number of rows in tidy_sales_1992_2022_710.csv: 27025
Number of matching rows: 3002
Number of unique rows: 24023

Number of rows in tidy_sales_1992_2022_727.csv: 13506
Number of matching rows: 1815
Number of unique rows: 11691

Number of rows in tidy_sales_1992_2022_730.csv: 64035
Number of matching rows: 12541
Number of unique rows: 51494

Number of rows in tidy_sales_1992_2022_740.csv: 51936
Number of matching rows: 9037
Number of unique rows: 42899

Number of rows in tidy_sales_1992_2022_741.csv: 4333
Number of matching rows: 735
Number of unique rows: 3598

Number of rows in tidy_sales_1992_2022_746.csv: 35112
Number of matching rows: 3565
Number of unique rows: 31547

Number of rows in tidy_sales_1992_2022_751.csv: 193113
Number of matching rows: 45859
Number of unique rows: 147254

Number of rows in tidy_sales_1992_2022_756.csv: 25118
Number of matching rows: 4264
Number of unique rows: 20854

Number of rows in tidy_sales_1992_2022_760.csv: 32556
Number of matching rows: 4033
Number of unique rows: 28523

Number of rows in tidy_sales_1992_2022_766.csv: 29934
Number of matching rows: 4014
Number of unique rows: 25920

Number of rows in tidy_sales_1992_2022_773.csv: 13567
Number of matching rows: 2147
Number of unique rows: 11420

Number of rows in tidy_sales_1992_2022_779.csv: 26152
Number of matching rows: 4884
Number of unique rows: 21268

Number of rows in tidy_sales_1992_2022_787.csv: 28038
Number of matching rows: 3773
Number of unique rows: 24265

Number of rows in tidy_sales_1992_2022_791.csv: 55286
Number of matching rows: 9264
Number of unique rows: 46022

Number of rows in tidy_sales_1992_2022_810.csv: 22423
Number of matching rows: 4339
Number of unique rows: 18084

Number of rows in tidy_sales_1992_2022_813.csv: 37590
Number of matching rows: 6755
Number of unique rows: 30835

Number of rows in tidy_sales_1992_2022_820.csv: 23307
Number of matching rows: 4779
Number of unique rows: 18528

Number of rows in tidy_sales_1992_2022_825.csv: 1722
Number of matching rows: 230
Number of unique rows: 1492

Number of rows in tidy_sales_1992_2022_840.csv: 17164
Number of matching rows: 1867
Number of unique rows: 15297

Number of rows in tidy_sales_1992_2022_846.csv: 27197
Number of matching rows: 6172
Number of unique rows: 21025

Number of rows in tidy_sales_1992_2022_849.csv: 25821
Number of matching rows: 3450
Number of unique rows: 22371

Number of rows in tidy_sales_1992_2022_851.csv: 131115
Number of matching rows: 29212
Number of unique rows: 101903

Number of rows in tidy_sales_1992_2022_860.csv: 41978
Number of matching rows: 8273
Number of unique rows: 33705

Runtime: 82.71205472946167