Henter oplysninger på sammenlagte kommuner fra wikipedia

In [7]:
import pandas as pd

# henter tabeller på wikipedia
df = pd.read_html('https://da.wikipedia.org/wiki/Strukturreformen')

                                          Lovgivende
0  Folketing (parlament) Formand: Søren Gade Medl...

In [19]:
# trækker de fem relevante tabeller ud

reg_syd = df[16]
reg_sjæl = df[15]
reg_nordj = df[14]
reg_midtj = df[13]
reg_h = df[12]

  Kommunerne fordelt efter indbyggertal                                  \
                           Indbyggertal  Antal kommuner
                           Indbyggertal før1. april1970 fra1. april1974
0                             150.000 -           1.000               4
1                     100.000 - 150.000           3.000               1
2                      40.000 - 100.000          10.000              18
3                       20.000 - 40.000          22.000              25
4                       15.000 - 20.000          13.000              24
5                       10.000 - 15.000          22.000              41
6                        3.000 - 10.000         206.000             160
7                             0 - 3.000         821.000               2
8                                 I alt           1.098             275



  fra1. januar2007
0                4
1                2
2               50
3               35
4                0
5                3
6                3
7                1
8               98

In [119]:
#fjerner multi index, og merger til en 
reg_syd.columns = range(len(reg_syd.columns))
reg_sjæl.columns = range(len(reg_syd.columns))
reg_nordj.columns = range(len(reg_syd.columns))
reg_midtj.columns = range(len(reg_syd.columns))
reg_h.columns = range(len(reg_syd.columns))
kolonne_navne = ["Ny_kommune", "Tidligere", "Bemærkninger"]
samlet = pd.concat([reg_syd, reg_h, reg_nordj, reg_midtj, reg_sjæl],ignore_index=True)
samlet.columns = kolonne_navne

In [120]:
samlet = samlet[["Ny_kommune", "Tidligere"]]
#noget.reset_index(drop=True, inplace=True)
#noget['Tidligere'] = noget['Tidligere'].str.split(', ').explode()
samlet = samlet.assign(Tidligere=samlet['Tidligere'].str.split(', ')).explode('Tidligere').reset_index(drop=True)

In [121]:
with

      Ny_kommune    Tidligere
0         Assens       Assens
1         Assens   Glamsbjerg
2         Assens       Haarby
3         Assens     Tommerup
4         Assens  Vissenbjerg
..           ...          ...
281       Stevns       Stevns
282  Vordingborg     Langebæk
283  Vordingborg          Møn
284  Vordingborg       Præstø
285  Vordingborg  Vordingborg

[286 rows x 2 columns]

In [103]:
help(str.explode)

AttributeError: type object 'str' has no attribute 'explode'