In [34]:
import pandas as pd

In [35]:
print(len(pd.read_csv('sales_1992_2022_461_1.csv')))
print(len(pd.read_csv('sales_1992_2022_461_2.csv')))
print(len(pd.read_csv('sales_1992_2022_461_3.csv')))

54500
350
59061

In [36]:
# Load the first CSV file
file1 = pd.read_csv('sales_1992_2022_461_1.csv') #up to page 520

# Load the second CSV file
file2 = pd.read_csv('sales_1992_2022_461_2.csv') #page 521-999

# Load the second CSV file
file3 = pd.read_csv('sales_1992_2022_461_3.csv')

# Concatenate the two DataFrames
combined = pd.concat([file1, file2, file3], ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined.to_csv('sales_1992_2022_461.csv', index=False)

print("CSV files successfully concatenated and saved as 'combined.csv'.")

CSV files successfully concatenated and saved as 'combined.csv'.

In [37]:
print(len(pd.read_csv('sales_1992_2022_461.csv')))
#print(len(pd.read_csv('data/log_330.csv')))

113911

/var/folders/y9/g15wbk0j1wd01kznfcf__8f00000gn/T/ipykernel_32173/2381649530.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  print(len(pd.read_csv('sales_1992_2022_461.csv')))

In [38]:
pd.read_csv('sales_1992_2022_461.csv')

/var/folders/y9/g15wbk0j1wd01kznfcf__8f00000gn/T/ipykernel_32173/3131657101.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('sales_1992_2022_461.csv')

,Boligtype & Adresse,Købesum,Dato & Type,m² & Kr. / m²,Vær.,Byggeår,Den procentuelle forskel mellem seneste udbudspris og salgsprisen %,Unnamed: 7
0,Rækkehus RRækkehus Bytoften 27 5210 Odense NV,1.450.000 kr.,29-12-2022Alm. Salg,110 m² 13.182 kr/m²,3,1964,-9%,Aktuel værdi
1,Rækkehus RRækkehus Vægtens Kvarter 293 5220 O...,1.470.000 kr.,29-12-2022Andet,76 m² 19.342 kr/m²,3,1980,NaN,Aktuel værdi
2,Rækkehus RRækkehus Humlebivænget 37 5260 Oden...,1.225.000 kr.,29-12-2022Alm. Salg,85 m² 14.412 kr/m²,3,1973,-12%,Aktuel værdi
3,Rækkehus RRækkehus Niels Bjerres Vænge 39 522...,2.250.000 kr.,29-12-2022Alm. Salg,105 m² 21.429 kr/m²,4,1963,-8%,Aktuel værdi
4,"Ejerlejlighed EEjerlejlighed Floravænget 40, s...",825.000 kr.,29-12-2022Alm. Salg,58 m² 14.224 kr/m²,2,1968,-7%,Aktuel værdi
...,...,...,...,...,...,...,...,...
113906,Rækkehus RRækkehus Falen 63G 5000 Odense C,1.949.436 kr.,01-01-1992Fam. Salg,117 m² 16.662 kr/m²,4,2019,NaN,Aktuel værdi
113907,"Ejerlejlighed EEjerlejlighed Nørregade 45D, 2 ...",430.000 kr.,01-01-1992Alm. Salg,111 m² 3.874 kr/m²,2,1897,NaN,Aktuel værdi
113908,Villa VVilla Mågebakken 106 5250 Odense SV,730.000 kr.,01-01-1992Fam. Salg,216 m² 3.380 kr/m²,6,1971,NaN,Aktuel værdi
113909,Villa VVilla Faaborgvej 47 5250 Odense SV,581.000 kr.,01-01-1992Alm. Salg,165 m² 3.521 kr/m²,5,1933,NaN,Aktuel værdi
113910,Villa VVilla Lupinvej 38B 5210 Odense NV,747.646 kr.,01-01-1992Alm. Salg,145 m² 5.156 kr/m²,4,1961,NaN,Aktuel værdi